.hero-second {
  width: 100%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
  @media (max-width: 1024px) {
    justify-content: space-between;
  }
  @media (max-width: 650px) {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  &__card {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media (max-width: 1500px) {
      width: 400px;
    }
    @media (max-width: 1366px) {
      width: 330px;
    }
    @media (max-width: 1024px) {
      width: 250px;
    }
    @media (max-width: 768px) {
      width: 200px;
    }
    @media (max-width: 650px) {
      width: 500px;
    }
    @media (max-width: 500px) {
      width: 330px;
    }
    @media (max-width: 360px) {
      width: 250px;
    }
    div {
      position: relative;
      height: 450px;
      width: 100%;
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      @media (max-width: 1500px) {
        height: 360px;
      }
      @media (max-width: 1366px) {
        height: 300px;
      }
      @media (max-width: 1024px) {
        height: 225px;
      }
      @media (max-width: 768px) {
        height: 180px;
      }
      @media (max-width: 650px) {
        height: 450px;
      }
      @media (max-width: 650px) {
        height: 450px;
      }
      @media (max-width: 500px) {
        height: 300px;
      }
      @media (max-width: 360px) {
        height: 225px;
      }
      img {
        position: absolute;
      }
    }
    &.first {
      div {
        z-index: 1;
        background-image: url("./public/images/heroSecond1.png");
        img {
          width: 210%;
          top: -70%;
          left: -20%;
          @media (max-width: 1500px) {
            width: 220%;
            top: -77%;
            left: -20%;
          }
          @media (max-width: 650px) {
            width: 210%;
            top: -70%;
            left: -20%;
          }
        }
      }
    }
    &.second {
      div {
        background-image: url("./public/images/heroSecond2.png");
        img.f {
          width: 110%;
          top: -17%;
          left: -19%;
          @media (max-width: 1500px) {

          }
        }
        img.s {
          width: 165%;
          top: -67%;
          left: -40%;
          @media (max-width: 1500px) {

          }
        }
      }
    }
    &.third {
      div {
        background-image: url("./public/images/heroSecond3.png");
        img {
          width: 210%;
          top: -43%;
          left: -93%;
          @media (max-width: 1500px) {
            width: 215%;
          }
          @media (max-width: 650px) {
            width: 210%;
            top: -43%;
            left: -93%;
          }
        }
      }
    }
    h3 {
      width: 50%;
      font-size: 36px;
      text-align: center;
      z-index: 5;
      @media (max-width: 1500px) {
        width: 80%;
      }
      @media (max-width: 1024px) {
        font-size: 28px;
      }
      @media (max-width: 360px) {
        font-size: 20px;
      }
    }
    span {
      font-size: 17px;
      text-align: center;
      z-index: 5;
      @media (max-width: 360px) {
        font-size: 15px;
      }
    }
  }
}